{% extends 'base.html' %}

{% block content %}
<div class="order-review-container">
    <h2 class="order-review-title">Revisión del Pedido</h2>

    <ul class="order-items">
        {% for item in cart_items %}
            <li class="order-item">
                <span class="product-name">{{ item.product.name }}</span>
                <span class="product-quantity">Cantidad: {{ item.quantity }}</span>
                <span class="product-price">Precio: {{ item.product.price }} €</span>
            </li>
        {% endfor %}
    </ul>

    <p><strong>Costo de Envío:</strong> {{ shipping_cost }} €</p>
    <p class="order-total">Total Productos: <span class="total-amount">{{ precio_total }} €</span></p>
    <p class="order-total">Total con Envío: <span class="total-amount">{{ precio_total|add:shipping_cost }} €</span></p>

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="text-2xl text-center font-bold mb-4 border-b">Datos de entrega</h2>
        {% if user.is_authenticated %}
            <form id="payment-form" class="mt-4" method="post" action="{% url 'shoppingCart:order_confirmation' %}">
                {% csrf_token %}
                
                <div class="mb-4 flex flex-col justify-between block mt-2 p-4 bg-white rounded-xl">
                    <label for="payment_option" class="block text-sm font-medium text-gray-700">Opción de pago:</label>
                    <select name="payment_option" id="payment_option" class="mt-1 p-2 w-full border rounded-md" required>
                        <option value="contra_reembolso">Pago contra reembolso</option>
                        <option value="tarjeta">Pagar con tarjeta</option>
                    </select>
                </div>

                <div id="card-fields" style="display: none;">
                    <div class="mb-4 flex flex-col justify-between block mt-2 p-4 bg-white rounded-xl">
                        <label for="card-element" class="block text-sm font-medium text-gray-700">Tarjeta de crédito o débito:</label>
                        <div id="card-element" class="mt-1">
                            <!-- Stripe Card Element -->
                        </div>
                        <div id="card-errors" role="alert" style="color: red; margin-top: 10px;"></div>
                    </div>
                </div>

                <button type="submit" class="button confirm-button" disabled>Confirmar Pedido</button>
            </form>
        {% else %}
            <form id="payment-form" class="mt-4" method="post" action="{% url 'shoppingCart:order_confirmation' %}">
                {% csrf_token %}

                <div class="mb-4 flex flex-col justify-between block mt-2 p-4 bg-white rounded-xl">
                    <label for="email" class="block text-sm font-medium text-gray-700">Correo electrónico</label>
                    <input type="text" name="email" id="email" placeholder="Ingresa tu correo electrónico" required class="mt-1 p-2 w-full border rounded-md">
                </div>

                <div class="mb-4 flex flex-col justify-between block mt-2 p-4 bg-white rounded-xl">
                    <label for="payment_option" class="block text-sm font-medium text-gray-700">Opción de pago:</label>
                    <select name="payment_option" id="payment_option" class="mt-1 p-2 w-full border rounded-md" required>
                        <option value="contra_reembolso">Pago contra reembolso</option>
                        <option value="tarjeta">Pagar con tarjeta</option>
                    </select>
                </div>

                <div id="card-fields" style="display: none;">
                    <div class="mb-4 flex flex-col justify-between block mt-2 p-4 bg-white rounded-xl">
                        <label for="card-element" class="block text-sm font-medium text-gray-700">Tarjeta de crédito o débito:</label>
                        <div id="card-element" class="mt-1">
                            <!-- Stripe Card Element -->
                        </div>
                        <div id="card-errors" role="alert" style="color: red; margin-top: 10px;"></div>
                    </div>
                </div>

                <button type="submit" class="button confirm-button" disabled>Confirmar Pedido</button>
            </form>
        {% endif %}
    </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var stripe = Stripe('pk_test_51OHPZ9JkuoHLkF3tZ5PofQvdPuAEltDJfkxabiakZc3ERBmEmrIUTUtMpOjo1QFGaR4WK6Wla9tZpHLO4EPo8mMj00KSI7b9BD');
        var elements = stripe.elements();
        var card = elements.create('card');
        card.mount('#card-element');

        var form = document.getElementById('payment-form');
        var paymentOptionSelect = document.getElementById('payment_option');
        var cardFields = document.getElementById('card-fields');
        var confirmButton = document.querySelector('.confirm-button');

        paymentOptionSelect.addEventListener('change', function (event) {
            var selectedOption = event.target.value;
            if (selectedOption === 'tarjeta') {
                cardFields.style.display = 'block';
                confirmButton.disabled = true;
            } else {
                cardFields.style.display = 'none';
                confirmButton.disabled = false;
            }
        });

        card.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
                confirmButton.disabled = true;
            } else {
                displayError.textContent = '';
                if (paymentOptionSelect.value === 'tarjeta') {
                    confirmButton.disabled = false;
                }
            }
        });

        form.addEventListener('submit', function (event) {
            if (paymentOptionSelect.value === 'contra_reembolso') {
                return;
            }
            event.preventDefault();
            stripe.createToken(card).then(function (result) {
                if (result.error) {
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    var hiddenInput = document.createElement('input');
                    hiddenInput.setAttribute('type', 'hidden');
                    hiddenInput.setAttribute('name', 'stripeToken');
                    hiddenInput.setAttribute('value', result.token.id);
                    form.appendChild(hiddenInput);
                    form.submit();
                }
            });
        });
    });
</script>

<style>
html, body {
    background-color: #1e1e2f;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
}

.order-review-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-review-title {
    color: #5e239d;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.order-items {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-name {
    font-size: 1rem;
    color: #333;
    flex: 1;
}

.product-quantity, .product-price {
    font-size: 0.9rem;
    color: #666;
    margin-left: 10px;
}

.order-total {
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.total-amount {
    color: #5e239d;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 0.9rem;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.confirm-button {
    background-color: #3498db;
    display: block;
    margin: 20px auto 0;
    text-align: center;
}

.confirm-button:hover {
    background-color: #2980b9;
}
</style>
{% endblock %}
